{% if post.collection == 'teaching' %}
    <h2 class="archive__item-title" itemprop="headline">
    {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
    {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    {% endif %}
    </h2> 
    <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}
{% elsif post.collection == 'workingpapersfinance' %}
    <font size="-0.7">{{ title}} <br> <em><strong>{{ post.venue }}</strong></em></font>
{% elsif post.collection == 'publicationsfinance' %}
    <font size="-0.7">{{ title}} <br> <em><strong>{{ post.venue }}</strong></em></font>
{% elsif post.date %}
    <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time>
{% endif %}

{% if post.paperurl and post.code %}
<font size="-0.7"><a href="{{ post.paperurl }}"><u>link</u></a>, <a href="{{ post.code }}"><u>code</u></a></font>
{% elsif post.paperurl %}
<font size="-0.7"><a href="{{ post.paperurl }}"><u>link</u></a>.</font>
{% endif %}
